/* =forms
------------------------------------------------------------------*/
.form{
  background:#f9f9f7;
  border:1px solid #EEE;
  color:#333;
  margin-left:10px;
  margin-right:10px;  
  padding:1em;
}
form, fieldset, legend, form h3{
  border:0; 
  margin:0; 
  padding:0; 
}
form p{
  margin-left:0;
  margin-right:0;
}
fieldset{
  border-top:1px dotted #333;
  margin-top:18px;
  padding-top:18px;
}
fieldset.first{
  border-top:none;
  margin-top:0;
  padding-top:0;
}
form h3{
  font-size:14px;
  margin-bottom:18px;
}
form ol, form ul{
  list-style: none;
  margin:0 0 18px 0;
  padding:0;
}
.form li{
  clear:both;
  background:none!important;
  margin-bottom:9px;
  padding:0!important;
}
label{
  display: block;
  float:left;
  line-height:1.6;
  margin-right:10px;
  width:120px;
}
label:after, 
.radio h3:after, 
.checkbox h3:after{
  content:':'; 
} 
input, textarea { 
  background: #FFF;
  padding:3px 3px; 
  width:250px; 
}
input:focus,
textarea:focus{
  background:#f6feff;
}
input[type="submit"]{
  margin-left:130px;
}
abbr { 
  cursor:help; 
  font-style:normal; 
  border:0; 
}

/* radio & checkbox fieldsets */
.radio, .checkbox{
  padding-left:130px;
}
.radio h3, .checkbox h3{
  font-size:1em;
}
label input{
  background:transparent;
  margin-right:4px;
  width:auto;
}
.radio label,
.checkbox label{
  display:inline;
  float:none;
  margin:0;
  text-align:left;
  width:auto;
}
.radio label:after,
.checkbox label:after{
  content:'';   
}

/* notes & error handling */
.validation-advice{
  font-family:arial;
  background:url(/images/bullet-error.png) no-repeat 0 0;
  color:#CC0000;
  font-size:11px;
  font-style:italic;
  font-weight:normal;
  margin:6px 0 0 130px;
  padding:0 3px 0 16px;
}
.note{
  font-size:0.8333em;
  font-weight:normal;
}
.contact_form_notice{
  clear:left;
  font-size:11px;
}
.mailer-error{/* when somebody enters a non-existent e-mail adress */
  background:#f7f7b5;
  border:1px solid red;
  padding:9px;
  margin-bottom:18px
}