@import '/stylesheets/reset.css';
@import '/stylesheets/grid.css';
@import '/stylesheets/forms.css';

/*	=Typography
------------------------------------------------------------------*/
body{	
  color:#473e3a;
  font: 12px/1.5em Verdana, Arial, sans-serif;
}
h2, h3, h4, p, ul, blockquote{
	margin:0 0 18px 0;
}
h1, h2, h3{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, verdana;
	font-weight:bold;
}
h1{
  color:#FFF;
	font-size:210%;
	letter-spacing:-0.02em;
	margin-bottom:1em;
}
h2{
  clear:left;
  color:#c1d82f;
  font-size:24px;
  line-height:24px;
  margin-bottom:18px;
}
h3{
  font-size:1.1667em;
  line-height:1.286em;
	margin-bottom:1em;
}
#footer h3{
	font-size:100%;
	margin-bottom:.15em;
}
p{
  margin-bottom:1.5em;
}
/* No bottom margin for p width image */
p>img{
  margin-bottom:-1.5em;
}
/* Add border to first p on contact page */
.contact h2+p{
  border:1px dotted #000;
  border-width:1px 0 1px 0;
  padding:.75em;
}

/* =links
------------------------------------------------------------------*/
a:link, a:visited{
	font-weight:bold;
	text-decoration:underline;
	color:#c1d82f;
}
a:hover, a:focus, a:active{
	text-decoration:underline;
}
a:focus, a:active, a.busy{

}
a.imglink:link, a.imglink:visited {
	border:none;
}
a.imglink:hover{
	background:transparent;
}

/*	=images
------------------------------------------------------------------*/


/*	=layout blocks
------------------------------------------------------------------*/
body{
  background:url(/images/placeholder/body_bg.gif) repeat-x 0 0;
  text-align:center;
	}
#wrap{
	margin:-25px auto 0 auto;
	position:relative;
	text-align:left;
	width:61.5em;
}
#header{
  height:126px;
  margin-bottom:18px;
  padding:0;
}
#content{
  background:url(/images/placeholder/content_bg.gif) no-repeat 0 0;
  clear:left;
	position:relative;
	overflow:auto;
	}
#content-main{
  float:left;
  padding:36px 10px;
  width:390px;
}
#content-sec{
  float:right;
  padding-top:1.5em;
	width:19.5em;
}
#footer{
  clear:left;
  padding-top:18px;
  width:620px;
}

/* =header
------------------------------------------------------------------*/
#header h1 a{
  background:url(/images/placeholder/logo.gif) no-repeat 0 0;
  display:block;
  float:left;
  height:108px;
  margin:0;
  text-indent:-3000px;
  width:200px;
}

/* =footer
------------------------------------------------------------------*/
#footer p{
  color:#000;
  float:left;
  margin:0 0 0 10px;
  padding:0 10px;
  width:180px;
}
#footer p.adres{
  margin-left:0;
}